.block-service{
    margin-top: 40px;
}
.form-inline .search-label{
    padding-right: 10px;
    font-size: 1.2em;
}
.form-inline .form-control{
    margin-right: 10px;
}

.sorted .items{
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 100%;
}
.sorted .items .item-date{
    align-self: center;
    padding: 5px;
}
.categorys{
    background-color: rgb(41, 167, 209);
    font-size: 0.8em;
    padding: 4px;
    border-radius: 11px 0px;
    font-weight: bold;
    color: white;
}
.icons-post{
    padding-left: 20px;
    padding-bottom: 10px;
}
.icons-post img{
    width: 32px;
}
.icons-post span{
    padding-right: 10px;
}